<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ollama GUI</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <style>
        .model-tooltip {
            cursor: pointer;
            text-decoration: underline;
        }
    </style>
</head>
<body>
    <h1>Ollama GUI</h1>

    <div class="mb-3">
    <form method="post" action="/list_models">
        <button type="submit" class="btn btn-block btn-success">List Models</button>
    </form>
    </div>

    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Model</th>
                    <th>Description</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for model in models %}
                    <tr>
                        <td>
                            <span class="model-tooltip" data-toggle="tooltip" data-placement="right" title="{{ model.description }}">
                                {{ model.model }}
                            </span>
                        </td>
                        <td>{{ model.description }}</td>
                        <td>
                            <form method="post" action="/run_model">
                                <input type="hidden" name="model" value="{{ model.model }}">
                                <button type="submit" class="btn btn-primary">Run</button>
                            </form>
                            <form method="post" action="/show_model">
                              <input type="hidden" name="model" value="{{ model.model }}">
                                <div class="input-group">
                                      <select class="custom-select" name="option">
                                          <option value="" selected>Select Option...</option>
                                          <option value="license">License</option>
                                          <option value="modelfile">Model File</option>
                                          <option value="parameters">Parameters</option>
                                          <option value="system">System</option>
                                          <option value="template">Template</option>
                                      </select>
                                      <div class="input-group-append">
                                          <button type="submit" class="btn btn-info">Show Model</button>
                                      </div>
                                  </div>
                              </form>
                              <form method="post" action="/remove_model">
                                <input type="hidden" name="model" value="{{ model.model }}">
                                <button type="submit" class="btn btn-danger">Remove</button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script>
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>
</body>
</html>
